/* ---- GENERAL STYLING ---- */

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 150px 0;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.7em;
    font-weight: 300;
    margin-bottom: 40px;
}

h3 {
    margin-bottom: 40px;
}

p {
    font-weight: 300;
    font-size: .9em;
}

img {
    width: 100%;
}



/* ---- NAVIGATION ---- */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 65px;
    position: fixed;
    width: 100%;
    background: white;
}

.menu .logo {
    width: 150px;
}

.menu .navicon {
    width: 40px;
}

.menu nav {
    display: none;
}

.menu nav ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.menu nav ul li {
    margin: 0 10px;
}

.menu nav a {
    color: inherit;
    text-decoration: none;
}


/* ---- HERO ---- */

.hero {

    /* 
    background-color: white;
    background-image: url('../img/background-sea.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    */

    background: white url('../img/background-sea.jpg') no-repeat center / cover;
    padding: 200px 0;
    text-align: center;
    color: white;
}



/* ---- INTRO SECTION ---- */

.intro img {
    width: 90%;
    display: block;
    margin: 0 auto
}


.intro .button {
    margin: 20px 0
}



/* ---- FEATURES SECTION ---- */

.features {
    background-color: #fafafa;
    text-align: center;
    background: url('../img/caja-de-langostino-vivo-en-hielo-huelvamar.jpg') no-repeat center / cover
}

.features hr {
    width: 60%;
    margin: 80px auto;
}

.features img {
    width: 160px;
    margin-bottom: 40px;
}

.features article {
    margin-bottom: 60px;
}


/* ---- SPONSORS SECTION ---- */

.sponsors {
    text-align: center;
}

.sponsors img {
    width: 50%;
    margin-bottom: 40px;
    filter: grayscale(.6) brightness(1.5);
    transition: all .5s;
}

.sponsors img:hover {
    filter: grayscale(0) brightness(1);
    transform: scale(1.3);
}



/* ---- PROCESS SECTION ---- */

.process {
    background: url('../img/barco-fondo-mar.jpg') no-repeat left / cover;
    padding-bottom: 250px;
}




/* ---- CLAIM SECTION ---- */

.claim {
    background-color: #272a2b;
    color: white;
    padding: 40px 0;
}

.claim h2 {
    font-size: 2.2em;
}


/* ---- FOOTER SECTION ---- */

footer {
    text-align: center;
    padding: 100px 0;
}

footer img {
    width: 160px;
    margin-bottom: 30px;
}


/* ---- COMPONENTS: BUTTONS ---- */

.button {
    border: 1px solid;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8em;
    padding: 15px;
    display: block;
    text-align: center;
    width: 200px;
}

.button.white {
    color: white;
}

.button.black {
    color: black
}

.button.centered {
    margin: 0 auto;
}

.button.block {
    width: auto;
}




@media screen and (min-width: 900px) {
    .navicon {
        display: none
    }

    .menu nav {
        display: block;
    }


}